#notificationPanel {
  position: fixed;

  top: 85%;
  right: 0%;

  height: 75px;
  width: 150px;

  border: solid;
  border-width: 1px;

}

.red {
  background-color: lightcoral;
}

.green {
  background-color: lightgreen;
}

.display {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
